footer{ 
  background-color:rgb(93, 151, 122);
  font-family: Arial,sans-serif;
  padding-left:150px ;
  padding-right:150px;
  padding-top:40px ;
  padding-bottom: 40px;
}


h2{
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}
button{
background-color: orangered;
color: white;
border: 5px solid orangered;
border-radius: 5px;
width: 90px;
height: 30px;
cursor: pointer;
font-size: 12px;
}
#Email{
  border-radius: 5px;
  border: 5px solid white;
}
h4{
 margin-left: 35px;
}

hr{
 border: .5px solid orangered;
}
img{
  width: 150px;

}
li{
  list-style: none;
  text-align: justify;
  margin-bottom: 10px;
}
a{
  font-weight: normal;
  text-decoration: none;
  color: inherit;

}

.container{
  display:grid;
  grid-template-columns: repeat(3,auto);
  align-content: space-evenly;
  gap: 100px;


}
.list{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 120px;
}
@media  screen and (max-width:768px) {
  footer{
    padding-left: 30px;
padding-right: 30px;
padding-top: 50px;
padding-bottom: 50px;
margin: 0px;
background-color:rgb(93, 151, 122);

  }
  .container{
    display: block;
  }
.list{
  display: flex;
}
form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px
}
.links{
  padding-right: 20px;

}
.form-container{
  padding-left: 30px;

}

h2{
  font-size: 17px;
}
}