footer{ 
  background-color:rgb(93, 151, 122);
  font-style: Arial,sans-serif;
  padding-left:150px ;
  padding-right:150px;
  padding-top:40px ;
  padding-bottom: 40px;
}
h2{
  font-weight: normal;
  font-style: normal;
}
button{
background-color: orangered;
color: white;
border: 5px solid orangered;
border-radius: 5px;
width: 90px;
height: 30px;
cursor: pointer;
font-size: 12px;
}
#Email{
  border-radius: 5px;
  border: 5px solid white;
}


li{
  list-style: none;
  font-weight: normal;
 
}


hr{
 border: 1px solid orangered;
}
img{
  width: 150px;

}



